<% if @query %>
	<h4>You searched for <%= @query %>. Showing you <%= @listings.length %> listings that match your query.</h4>
<% else %>
	<h4>Showing you all listings</h4>
<% end %>
		<% @listings.each do |l| %>
			<!-- < % if l.user_id != current_user.id %> -->
				<ul>
					<li>ID: <%= l.id %></li>
					<li>Max number of guests: <%= l.no_of_guests %></li>
					<li>Lister's Name: <%= l.user.name %></li>
					<li>Description: <%= l.description %></li>
					<li>Property Type: <%= l.property_type %></li>
					<li>Room Type: <%= l.room_type %></li>
					<li>City: <%= l.city %></li>
					<li>State: <%= l.state %></li>
					<li>Country: <%= l.country %></li>
					<li>Rent per night: <%= l.rent_per_night %></li>
					<li>House Rules: <%= l.house_rules %></li>
				</ul>
			<!-- < % end %> -->
			<% if l.user.id != current_user.id %>
				<%= link_to t(".reserve this listing"), :controller => "reservations", :action => "new", :listing_id => l.id  %><br>
			<% end %>
				<%end%>

<% unless @listings.empty? %>
	<%= will_paginate @listings %>
<% end %>