<div class='container'>
	<h4> My Listings </h4>
	<p>You have <%= current_user.listings.where(published: true).length %> published listings and <%= current_user.listings.where(published: false).length %> unpublished listings.</p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Published Listings</h3>
  </div>
  <div class="panel-body">
    	<% current_user.listings.where(published: true).sort.each do |l| %>
		<li>
			<ul><%= link_to "View Listing #{l.id}", listing_path(l.id) %></ul>
			<ul><%= "#{l.city}, #{l.state}, #{l.country}" %></ul>
			<ul>Last Updated: <%= l.updated_at.strftime("%d %b %Y") %></ul>
			<ul><%= link_to '<i class="glyphicon glyphicon-pencil"></i> Edit Listing'.html_safe, edit_listing_path(l.id) %> --- <%= link_to '<i class="glyphicon glyphicon-trash"></i> Delete Listing (inactive)'.html_safe, root_path %></ul>
			<br><br>
		</li>
	<% end %>

  </div>
</div>



<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">In-Progress Listings</h3>
  </div>
  <div class="panel-body">
    	<% current_user.listings.where(published: false).sort.each do |l| %>
		<li>
			<ul><%= link_to "View Listing #{l.id}", listing_path(l.id) %></ul>
			<ul><%= "#{l.city}, #{l.state}, #{l.country}" %></ul>
			<ul>Last Updated: <%= l.updated_at.strftime("%d %b %Y") %></ul>
			<ul><%= link_to '<i class="glyphicon glyphicon-pencil"></i> Edit Listing'.html_safe, edit_listing_path(l.id) %> --- <%= link_to '<i class="glyphicon glyphicon-trash"></i> Delete Listing (inactive)'.html_safe, root_path %></ul>
			<br><br>
		</li>
	<% end %>

  </div>
</div>