<li>
	<ul>Lister's Name: <%= @listing.user.name %></ul>
	<ul>Description: <%= @listing.description %></ul>
	<ul>Property Type: <% @listing.property_type %></ul>
	<ul>Room Type: <%= @listing.room_type %></ul>
	<ul>City: <%= @listing.city %></ul>
	<ul>State: <%= @listing.state %></ul>
	<ul>Country: <%= @listing.country %></ul>
	<ul>Rent per night: <% @listing.rent_per_night %></ul>
	<ul>House Rules: <% @listing.house_rules %></ul>

	<% @listing.images.each do |i| %>
		<%= image_tag i.url %>
	<% end %>

	<% if @listing.user.id != current_user.id %>
	<%= link_to t(".reserve this listing"), new_reservation_path %>
	<% end %>
</li>