<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href='/'><span class="glyphicon glyphicon-home"></span>  AirBnB</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<% if signed_in? %>
					<li><%= link_to '<i class="glyphicon glyphicon-user"></i> Profile'.html_safe, user_path(current_user.id) %></li>
					<li><%= link_to '<i class="glyphicon glyphicon-picture"></i> Create New Listing'.html_safe, new_listing_path %></li>
					<li><%= link_to '<i class="glyphicon glyphicon-folder-open"></i> Manage Listings'.html_safe, listings_path %></li>
					<li><%= link_to '<i class="glyphicon glyphicon-pushpin"></i> Your Reservations'.html_safe, reservations_path %></li>
					<li>
						<%= form_tag searches_path, method: :get do %>
						  <%= text_field_tag "query", params[:query], autocomplete: "off" %>
						  <%= submit_tag "Search" %>
						<% end %>
					</li>
					<!-- <li><form class="navbar-form navbar-left" role="search"><div class="form-group"><input type="text" class="form-control" placeholder="Search not working"></div><button type="submit" class="btn btn-default">Submit</button></form></li> -->
				<% else %>
					<li><%= link_to t(".sign_in"), sign_in_path %></li>
					<li><%= link_to t(".sign_up"), sign_up_path %></li>
				<% end %>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<% if signed_in? %>
					<li><%= link_to '<i class="glyphicon glyphicon-question-sign"></i> Help'.html_safe, help_path %></li>
					<li><%= link_to '<i class="glyphicon glyphicon-log-out"></i> Sign Out'.html_safe, sign_out_path, method: :delete %></li>
				<% end %>
			</ul>

		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>